/* 11/04/2021 11h */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: auto;
    border: 1px solid red;
}

.main-content {
    width: 100%;
    height: 1000px;
    border: 1px solid red;
}